<!DOCTYPE html>
<html>
<head>
  <title>Let's Meet</title>
  <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    {%load staticfiles%}
    <link rel="apple-touch-icon" href="{% static "dashboard/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" href="{% static "dashboard/favicon-32x32.png" %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="{% static "dashboard/css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/jquery.fancybox.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/flexslider.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/queries.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/etline-font.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/bower_components/animate.css/animate.min.css" %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{% static "dashboard/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
    <script src="{% static 'dashboard/js/time_scripts.js' %}"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.css' />

    <script src='https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.js'></script>

    <script src="{% static "dashboard/js/animation_scripts.js" %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>



<body>

<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo"><a href="#"></a></div>
                <div class="header-nav">
                    <nav>
                        <ul class="member-actions">
                            <li><!-- show user options -->
                                <a class="login" data-popup-open="login-popup" href="#Sign up">{{user.get_username}}</a>
                                <div class = "popup" data-popup= "login-popup">
                                  <div class= "popup-inner">
                                    
                                    <!-- card -->

                                    <div class="w3-card-4-yellow">

                                    <footer class="w3-container w3-blue">
                                      <h1>User</h1>
                                    </footer>

                                    <div class="w3-container">
                                      <p>Meetings this week:</p>
                                      <!--
                                        show all the meetings that user has for this week 
                                      -->
                                    </div>

                                    <footer class="w3-container w3-blue">
                                      <h5>Your Company Name here</h5>
                                    </footer>

                                    </div>

                                    <!-- CLOSE -->
                                    <p><a data-popup-close= "login-popup" href = "#">close</a></p> 
                                    <a class = "popup-close" data-popup-close="login-popup" href="#">x</a>
                                  </div>
                                </div>
                             </li>
                             <li>
                                <a class="login" href="{% url 'logout' %}?next=/dashboard">Log OUT</a>
                             </li>
                             <li>
                                <a class="login" href= "{{ signin_url }}"> Connect to Outlook </a>
                             </li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
                        <h1>Welcome to the dashboard, {{user.get_username}} </h1>
                        <p class="intro"></p>
                        <!--<a href="#" class="btn btn-fill btn-large btn-margin-right">Download</a>--> <a href="#" class="btn btn-accent btn-large">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- 
    Showing calendar here
-->

<div class="container">
    <div id="calendarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h4 id="modalTitle" class="modal-title">Add an event</h4>
                </div>
                <div id="modalBody" class="modal-body"> 
                    <form action="{% url 'dashboard' %}" method='post'>
                        {% csrf_token %}
                        Title: {{ event_form.title }}  
                        <br>
                        Start: {{ event_form.start }}
                        <br>
                        End: {{ event_form.end }}
                        <input type="submit" value="Done!"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>
<script type='text/javascript'>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here

        defualtView: 'month',

        header: {
            right: 'prev,next today myCustomButton',
            center: 'title',
            left: 'month,agendaWeek,agendaDay',
        },

        events: "{% url 'get_events' %}",
        dayClick: function(date, jsEvent, view) {
            $('#calendarModal').modal('show');
        },
    })


});
</script>

</body>
</html>